/* 设置全局样式 */
body {
    margin: 0; /* 去除默认边距 */
    overflow: hidden; /* 隐藏滚动条 */
    background-color: black; /* 背景色设为黑色 */
}

/* 画布样式 */
canvas {
    display: block; /* 使画布成为块级元素 */
    width: 100%; /* 设置画布宽度为 100% */
    height: 100%; /* 设置画布高度为 100% */
}

/* 当前球数显示样式 */
#ballCount {
    color: white; /* 字体颜色为白色 */
    font-size: 30px; /* 字体大小 */
    position: absolute; /* 绝对定位 */
    top: 10px; /* 距离顶部 10 像素 */
    left: 10px; /* 距离左侧 10 像素 */
    z-index: 10; /* 确保在其他元素之上显示 */
}
